{% extends 'base.html.twig' %}
{% block title %} Vos commandes {% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9 my-5">
                {# S'il y a des produits commandées on les affiche #}
                {% if Commande is defined and Commande|length > 0 %} 
                    <h3 class="text-center mb-5"> Vos commandes </h3>       

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"> Numéro </th>
                                <th scope="col"> Date de la commande </th>
                                <th scope="col"> Montant </th>
                                <th scope="col"> Date de la livraison </th>
                                <th scope="col"> Facture </th>
                            </tr>
                        </thead>
                        <tbody> 
                            {% for com in Commande %}    
                                <tr>           
                                    <td> {{com.id}} </td>
                                    <td> {{com.comDate|date("d/m/Y")}} </td>
                                    <td> {{com.comMontant}}</td>
                                    {% if com.dateLivraison is empty %}
                                        <td> {{'Livraison en cours'}}</td>
                                    {% else %}
                                        <td> {{com.dateLivraison}}</td>
                                    {% endif %}
                                    <td> <a href="#"> Télécharger </a> </td> 
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>    
                {% else %}
                    <div class="text-center"> 
                        <h3 class="mb-5"> Actuellement vous avez aucune commande disponible </h3>
                        <div> <img src="/images/panier/panier.png" width="300"> </div>
                        <a href="{{ path('categories_index') }}"> <button class="btn btn-success my-5"> Liste des produits </button> </a> 
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %} 

{% endblock %}


