{% extends 'base.html.twig' %}
{% block title %}Facture{% endblock %}
{% block stylesheets %}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <img src="images/facture/VillageGreen.jpg" alt="factureLogo" class="logo-facture">
    <h4 class="text-center"> Facture N° {{ Commande.id }}</h4>
    <p> Date : {{ Commande.comDate|date("d/m/Y")}}</p>
    
    <div style="border:1px solid black"> 
        <h4>Adresse de facturation</h4>
        <p>{{app.user.userPrenom}} {{app.user.userNom}}</p>
        <p>{{app.user.userAdresse}}</p>
        <p>{{app.user.userCP}} {{app.user.userVille}} {{app.user.userPays }}</p>
    </div>

    <p> Description de la commande </p>
    <table>
        <thead>
            <tr>
                <th scope="col"> Libelle </th>
                <th scope="col"> Description </th>
                <th scope="col"> Prix HT </th>
                <th scope="col"> Quantité </th>
                <th scope="col"> Total HT </th>
                <th scope="col"> TVA </th>
                <th scope="col"> Total TTC </th>
            </tr>
        </thead>
        <tbody>
            {% set TotalHT = 0 %}
            {% set TotalTVA = 0 %}
            {% set TotalTTC = 0 %}

            {% for prod in Produit %} 
                <tr>
                    <td>{{ prod.pro.proLibelle }}</td>
                    <td>{{ prod.pro.proDescription }}</td>
                    <td>{{ prod.pro.prixHT }}</td>
                    <td>{{ prod.quantite }}</td>
                    <td>{{ prod.pro.prixHT * prod.quantite}}</td>
                    <td>{{ prod.pro.TVA }}</td>
                    <td>{{ prod.pro.prixTTC * prod.quantite}}</td>
                    {% set TotalHT = TotalHT + (prod.pro.prixHT * prod.quantite) %}
                    {% set TotalTVA = TotalTVA + prod.pro.TVA %}
                    {% set TotalTTC = TotalTTC + (prod.pro.prixTTC * prod.quantite) %}
                </tr>
            {% endfor %}
                <tr> 
                    <td colspan="4">Total</td>
                    <td>{{ TotalHT }}</td>
                    <td>{{ TotalTVA }}</td>
                    <td>{{ TotalTTC }}</td>
                </tr>
        </tbody>
    </table>
    <br><br> 
{% endblock %}

{% block footer %} 
    <p>Solde payable sous « délai de paiement » à réception de facture, par « mode de paiement ».</p>
    <p>Pénalité de retard au taux annuel de « nombre » %</p>
    <p style="margin-bottom:15px">En cas de retard de paiement, application d’une indemnité forfaitaire pour frais de recouvrement de 40 euros (article D. 441-5 du code du commerce).</p>
    <p>VillageGreen</p>
    <p>SA au capital de</p> 
{% endblock %}


